 
{% extends "detection/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <ul>
        <li>This Web application shows cyber bullying incidents taking place around the globe.
        <li>Add Comments for messages and profiles identified as contain cyberbullying traces to share your thoughts on your decision. (optional)
        <li>Check whether acronyms used in the message are in the Urban Dictionary (<a href="http://www.urbandictionary.com/">http://www.urbandictionary.com/</a>) and indicate that you have done so by checking the "Contains an acronym found on Urban Dictionary" checkbox. (optional)
        <li>Once you finish coding a single message, click on the "Save Coding for Message" button for the message.</li>
        <li>Once you finish coding the whole thread, click on the "Complete Thread" button at the bottom of this page.</li>
      <ul>
{% endblock content %}