{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'detection/main.css' %}">

    {% if title %}
    <title> Cyber Crime Detection {{ title }} </title>
    {% else %}
    <title> Cyber Crime Detection </title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#421C52;">
            <div class="container">
                <a class="navbar-brand mr-4" href="#">Cyber Crime Detection </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'detection-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'detection-about' %}">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <ul class="navbar-nav mr-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Options
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'detection-dashboard'%}">Dashboard</a>
                                    <!-- <a class="dropdown-item" href="detection/dashboard.html">Another action</a> -->
                                    <div class="dropdown-divider"></div>
                                    <!-- <a class="dropdown-item" href="#">Not Implemented yet</a> -->
                                </div>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Menu2
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">item1</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">item2</a>
                                </div>
                            </li> -->
                            <li class="nav-item">
                              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-item nav-link" href="{%  url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                              <a class="nav-item nav-link" href="{%  url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-item nav-link" href="{%  url 'register' %}">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="ml-4 container-fluid">
        <div class="row">
            <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}"> 
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>

        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>